.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  padding: 0 1rem;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.header-photo {
  width: clamp(120px, 20vw, 200px);
  height: clamp(120px, 20vw, 200px);
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1.5rem;
}

.header-title {
  font-size: clamp(1.5rem, 5vw, 2.5rem);;
  font-weight: 600;
  margin-bottom: 1rem;
}

.header-text {
  font-size: clamp(1rem, 4vw, 1.5rem);
  font-weight: 400;
}

.cursor {
  display: inline-block;
  width: 0.6em;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

@media (max-width: 480px) {
  .header-title {
    margin-bottom: 0.5rem;
  }

  .header-text {
    font-size: 1rem; /* prevent shrinking too much */
  }
}


