.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* fills entire screen height */
  text-align: center;
  background-color: var(--bg-color); /* use theme variable */
  color: var(--text-color); /* use theme variable */
}

.header-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.header-text {
  font-size: 1.25rem;
  font-weight: 400;
}

.cursor {
  display: inline-block;
  width: 10px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
