:root {
  --bg-color: #ffffff;
  --text-color: #222222;
  --card-bg: #f0f0f0;
  --card-shadow: rgba(0, 0, 0, 0.1);
  --tag-bg: #eaeaea;
  --tag-text: #222;
  --tag-hover-bg: #d4d4d4;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #f5f5f5;
  --card-bg: #1e1e1e;
  --card-shadow: rgba(0, 0, 0, 0.5);
  --tag-bg: #2a2a2a;
  --tag-text: #f5f5f5;
  --tag-hover-bg: #3a3a3a;
  --github-color: #ddd;
}


body {
  margin: 0;
  font-family: Times New Roman, Times New Roman;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--card-bg);
  box-shadow: 0 2px 5px var(--card-shadow);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: right;
    padding: 1rem;
  }

  .navbar ul {
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }
}

.navbar a {
  color: var(--text-color);
  text-decoration: none;
}

.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.section {
  padding: 4rem 2rem;
  text-align: center;
}

.section h2 {
  margin-bottom: 2rem;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 0 2rem;
}

@media (max-width: 480px) {
  .project-grid {
    gap: 1rem;
    padding: 0 1rem;
  }
}

.project-card {
  background-color: var(--card-bg);
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px var(--card-shadow);
  transition: transform 0.3s, box-shadow 0.3s;
}

@media (max-width: 480px) {
  .project-card {
    padding: 1rem;
  }
  .project-tags {
    font-size: 0.8rem;
  }
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px var(--card-shadow);
}

.project-card a {
  display: inline-block;
  margin-top: 1rem;
  color: #0077ff;
  text-decoration: none;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.project-tags span {
  background-color: var(--tag-bg);
  color: var(--tag-text);
  padding: 0.3rem 0.6rem;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: background-color 0.3s, transform 0.2s;
}

.project-tags span:hover {
  background-color: var(--tag-hover-bg);
  transform: scale(1.05);
}

.footer {
  padding: 2rem;
  text-align: center;
  background-color: var(--card-bg);
  box-shadow: 0 -2px 5px var(--card-shadow);
  margin-top: 4rem;
}

.footer-text {
  margin: 0;
  font-size: 1rem;
}

@media (max-width: 480px) {
  .footer {
    padding: 1rem;
  }
  .footer-text {
    font-size: 0.9rem;
  }
}

.linkedin{
  color: #0077b5;
  padding: 0.15rem;
}

.github {
  color: var(--github-color);
  padding: 0.15rem; 
}

@media (max-width: 480px) {
  .section {
    padding: 2rem 1rem;
  }
}


